body {
  margin-left: -1px;
  padding-left: 0px;
  font-family: Arial, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.navigation-bar {
  width: 135px;
  background-color: #4b0c0c;
  text-align: right;
}

.hero-section {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-image: url('../images/caption-hero-01-01.png');
  background-position: 50% 50%;
  background-size: 1920px;
}

.julian-hero {
  height: 660px;
  margin-bottom: 1px;
  padding: 0px 0px 0px 4px;
  background-image: url('../images/caption-hero-01-02.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.slide {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #eee;
}

.slide.teaching {
  padding-left: 132px;
  background-color: #eee;
}

.vertical-navbar {
  position: fixed;
  overflow-x: auto;
  overflow-y: auto;
  width: 135px;
  height: 1000px;
  float: left;
  background-color: #5f2323;
}

.brand {
  margin-top: 21px;
  margin-right: 11px;
  margin-left: 5px;
  padding-right: 0px;
  padding-bottom: 38px;
}

.nav-link {
  position: relative;
  top: -12px;
  margin-top: 28px;
  padding: 0px 35px;
  color: #fffefa;
  text-align: right;
}

.nav-link.w--current {
  position: static;
  margin-top: 12px;
  text-align: left;
}

.nav-link.right {
  text-align: right;
}

.nav-link.email {
  top: 178px;
}

.section {
  margin-top: 0px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f84242;
}

.dribbble-hero {
  margin-top: 21px;
  padding-bottom: 21px;
}

.contact-text {
  display: inline;
  margin-left: 47px;
  padding-right: 0px;
  background-color: transparent;
  font-family: Universalfruitcake, Arial, sans-serif;
  color: #ff3535;
  font-size: 51px;
  text-decoration: underline;
  text-indent: 0px;
}

.contact-section {
  margin-top: 0px;
  padding-top: 160px;
  padding-bottom: 160px;
  background-color: #fff8c2;
}

.icon {
  padding-top: 0px;
  padding-bottom: 8px;
}

.row {
  margin-top: 31px;
}

.about {
  margin-top: -1px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url('../images/about-hero.png');
  background-position: 0px 0px;
  background-size: cover;
}

.about-caption {
  margin-top: -20px;
  padding-top: 3px;
  padding-bottom: 25px;
  font-family: Universalfruitcake, Arial, sans-serif;
  color: #fff8f8;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
}

.about-caption.design {
  color: #4b0c0c;
}

.about-caption.illustration {
  color: #4b0c0c;
}

.illustration-design {
  margin-bottom: 0px;
  padding-top: 90px;
  padding-bottom: 82px;
  background-color: #f7c969;
}

.skill {
  color: snow;
}

.design-img {
  border: 15px solid white;
}

.design-img._12days {
  border-width: 15px;
}

.hidden-12days {
  padding-top: 30px;
  padding-right: 333px;
  padding-left: 321px;
}

.line {
  height: 0px;
  padding-top: 2px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #4b0c0c;
}

.design-headline {
  font-family: 'Droid Sans', sans-serif;
  color: #4b0c0c;
  font-size: 54px;
  line-height: 46px;
  text-align: left;
  text-transform: uppercase;
}

.design-subhead {
  font-family: 'Droid Sans', sans-serif;
  text-align: left;
}

.design-pg {
  font-family: 'Droid Sans', sans-serif;
  text-align: left;
}

.view-projects {
  margin-top: 6px;
  margin-left: -288px;
  background-color: #4b0c0c;
  font-family: 'Droid Sans', sans-serif;
  text-align: left;
}

.design-section {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f7c969;
}

.hidden-zone {
  margin-top: 30px;
  padding-right: 333px;
  padding-left: 321px;
}

.hidden-camp {
  margin-top: 30px;
  padding-right: 333px;
  padding-left: 321px;
}

.hidden-auto {
  margin-top: 30px;
  padding-right: 333px;
  padding-left: 321px;
}

.slide-bg {
  height: 300px;
  background-color: #070809;
}

.slide-img {
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 8px;
  padding-right: 0px;
  padding-left: 40px;
}

.slide-nav {
  position: static;
  background-color: #f7c969;
}

.zone-img {
  position: fixed;
  left: 56px;
  top: 12px;
  right: 4px;
  margin-left: 62px;
  padding-top: 8px;
  padding-left: 3px;
}

.zone-img.zone-logo {
  margin-top: 16px;
  margin-left: 92px;
}

.zone-img.zone-logo.hot {
  position: absolute;
  left: 75px;
  margin-left: 15px;
  padding-right: 0px;
}

.zone-position {
  margin-top: -198px;
  padding-top: 0px;
}

.camp-img {
  position: fixed;
  left: 99px;
  top: 24px;
  right: 16px;
  margin-top: 37px;
  margin-right: 5px;
  margin-left: -7px;
  padding-right: 0px;
  padding-left: 1px;
}

.camp-email {
  position: fixed;
  left: 85px;
  top: 13px;
  right: 177px;
  margin-top: 5px;
  margin-left: 104px;
}

.footer-text {
  margin-top: 27px;
  color: #fff2bd;
}

.footer {
  background-color: #4b0c0c;
}

.nav-right {
  margin-top: 46px;
  text-align: right;
}

.contact-footer {
  font-family: 'Droid Sans', sans-serif;
  color: #ff4242;
  font-size: 58px;
}

.link-block {
  margin-top: -46px;
  padding-top: 0px;
}

html.w-mod-js *[data-ix="display-none"] {
  display: none;
}

html.w-mod-js *[data-ix="display-none-2"] {
  display: none;
}

html.w-mod-js *[data-ix="display-none-3"] {
  display: none;
}

html.w-mod-js *[data-ix="display-none-4"] {
  display: none;
}

@media (max-width: 991px) {
  .navigation-bar {
    width: auto;
  }
  .julian-hero {
    width: 100%;
    background-position: 40% 50%;
  }
  .vertical-navbar {
    width: 785px;
    height: 120px;
  }
  .brand {
    position: relative;
    min-height: 4px;
    min-width: 62px;
    margin-top: -5px;
    padding-top: 18px;
    padding-right: 12px;
  }
  .nav-link {
    padding-right: 34px;
    padding-left: 11px;
  }
  .nav-link.w--current {
    padding-top: 3px;
  }
  .nav-link.email {
    top: 176px;
    margin-top: -161px;
  }
  .icon {
    color: #ffe6e6;
    font-size: 62px;
  }
  .hidden-12days {
    margin-left: -150px;
    padding-right: 90px;
    padding-left: 241px;
  }
  .design-column {
    padding-right: 42px;
    padding-left: 0px;
  }
  .design-section {
    overflow-x: visible;
    overflow-y: visible;
    float: none;
    clear: both;
  }
  .hidden-zone {
    margin-top: 47px;
    margin-right: -258px;
    margin-left: -225px;
    padding-bottom: 0px;
  }
  .hidden-camp {
    padding-right: 56px;
    padding-left: 56px;
  }
  .hidden-auto {
    padding-right: 30px;
    padding-left: 69px;
  }
  .zone-img {
    left: 63px;
    margin-left: -26px;
  }
  .zone-img.zone-logo.hot {
    margin-left: -36px;
    padding-left: 0px;
  }
  .camp-img {
    margin-left: -59px;
    padding-top: 25px;
    padding-left: 0px;
  }
  .camp-email {
    left: -48px;
    right: 160px;
  }
  .nav-right {
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin-top: -140px;
    margin-right: -2px;
    margin-bottom: 53px;
    padding: 16px 0px 0px 73px;
  }
  .contact-footer {
    font-size: 44px;
  }
}

@media (max-width: 767px) {
  .julian-hero {
    background-position: 100% 50%;
    background-size: cover;
  }
  .vertical-navbar {
    overflow-x: visible;
    overflow-y: visible;
    width: 572px;
  }
  .brand {
    margin-top: -4px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .about-caption {
    font-size: 21px;
  }
  .hidden-12days {
    margin-left: -201px;
  }
  .design-column {
    left: -19px;
    padding-right: 0px;
    padding-left: 35px;
  }
  .hidden-zone {
    margin-left: -277px;
  }
  .hidden-camp {
    margin-left: -16px;
    padding-right: 87px;
    padding-left: 71px;
    clear: both;
  }
  .hidden-auto {
    padding-right: 96px;
    padding-left: 49px;
  }
  .zone-img {
    left: 81px;
    margin-left: 35px;
  }
  .zone-img.zone-logo.hot {
    left: 83px;
    margin-left: -1px;
    padding-left: 9px;
  }
  .camp-img {
    left: 97px;
    margin-left: -38px;
    padding-left: 14px;
  }
  .camp-email {
    left: 5px;
  }
  .nav-right {
    margin: -46px -8px -30px 1px;
    padding-right: 0px;
    padding-bottom: 26px;
    font-size: 11px;
    text-align: center;
  }
  .contact-footer {
    position: static;
    font-size: 32px;
  }
  .design-column-2 {
    padding-left: 28px;
  }
  .column-2 {
    left: 4px;
  }
  .column-zone {
    left: 4px;
  }
  .auto-column {
    left: 7px;
  }
}

@media (max-width: 479px) {
  .julian-hero {
    margin-top: -11px;
    padding-top: 16px;
    background-position: 76% 50%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  .vertical-navbar {
    width: 327px;
  }
  .brand {
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 29px;
  }
  .icon {
    padding-top: 14px;
  }
  .about-caption {
    font-size: 21px;
  }
  .hidden-12days {
    margin-left: -244px;
    padding-right: 28px;
  }
  .design-headline {
    font-size: 39px;
    line-height: 41px;
  }
  .design-column {
    left: -3px;
  }
  .hidden-zone {
    margin-right: -257px;
    margin-left: -316px;
    padding-right: 285px;
    padding-left: 307px;
  }
  .hidden-camp {
    margin-left: -78px;
    padding-right: 19px;
  }
  .hidden-auto {
    padding-right: 23px;
    padding-left: 6px;
  }
  .zone-img {
    left: 68px;
    right: 3px;
    margin-left: -38px;
  }
  .zone-img.zone-logo.hot {
    left: 72px;
    right: 11px;
    margin-left: -66px;
  }
  .camp-img {
    margin-left: -85px;
  }
  .camp-email {
    left: -69px;
  }
  .nav-right {
    position: fixed;
    top: 120px;
    display: inline;
    width: 345px;
    height: 340px;
    margin-bottom: -1px;
    padding-top: 30px;
    padding-bottom: 1px;
    background-color: #4b0c0c;
    font-size: 15px;
  }
  .contact-footer {
    font-size: 19px;
  }
  .column-2 {
    left: -7px;
    padding-right: 0px;
    padding-left: 43px;
  }
  .column-zone {
    left: 7px;
    padding-left: 30px;
  }
  .menu-button {
    height: auto;
    background-color: #ff3838;
    color: #4c6270;
  }
  .menu-button.w--open {
    height: 85px;
  }
}

@font-face {
  font-family: 'Universalfruitcake';
  src: url('../fonts/UNIVERSALFRUITCAKE.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}